input {
    width: 98%;
    border-radius: 5px;
    outline: none!important;
    border: 1px solid red!important;
    box-sizing: border-box;
    border-radius: 5px;
    height: 50px;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0 10px;
  }